.header__options {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: blue;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  font-weight: 900;
}

@media (max-width: 600px) {
  .header__options {
    flex-direction: column;
    height: fit-content;
  }
  .header__optionsTitle {
    padding: 8px;
  }
}
